@model SisalrilProject.Models.Trabajadore

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Trabajadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajadorNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajadorNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajadorTarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajadorTarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajadorSupervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajadorSupervisor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTrabajador" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
    </form>
</div>
