@model SisalrilProject.Models.Trabajadore

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Trabajadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajadorNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajadorNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajadorTarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajadorTarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrabajadorSupervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrabajadorSupervisor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdTrabajador">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
</div>
