@model SisalrilProject.Models.Asignacione

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Asignacione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsignacionFechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsignacionFechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsignacionNoDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsignacionNoDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEdificioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEdificioNavigation.IdEdificio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTrabajadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTrabajadorNavigation.IdTrabajador)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAsignacion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
    </form>
</div>
